# so we don't accidentally redistribute the entire foundry app
foundryvtt/
foundrydata/

# other foundry junk
LICENSE*
chrome*
*.pak
foundryvtt.zip
icudtl.dat
*.so
*.so.1
locales/
resources/
*.bin
swiftshader/
vk_swiftshader_icd.json
